@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply min-h-screen bg-[#FFF] font-montserrat;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-1rem); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
}
.event-item {
    position: relative;
}

.event-card {
    transition:
        transform 0.35s cubic-bezier(0.22, 0.61, 0.36, 1),
        box-shadow 0.35s ease;
    transform-origin: center;
    z-index: 1;
    position: relative;
}

/* Khi được hover */
.event-card.hovered {
    transform: scale(1.12);
    z-index: 50 !important;
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.35);
}

/* Làm mờ các card khác khi 1 card được hover */
.scroll-container.dim-others .event-card:not(.hovered) {
    filter: brightness(0.6) blur(1px);
    transform: scale(0.95);
    transition: 0.3s ease;
}
